.div {
    --background: #040D12;
    --primary: #87C4FF;
    --text: #ECF4D6;
}

.logo {
    color: var(--text);
    font-size: 1.7rem;
    text-shadow: 1px 1px 2px red, 0 0 5em blue, 0 0 1em blue;
    margin: 1.5vh 0 0 3vw;
    font-family: 'Courier Prime', sans-serif;
}



.nav {
    height: 5vh;
    display: flex;
    align-items: center;
}