.div {
    --background: #040D12;
    --primary: #87C4FF;
    --text: #ECF4D6;
}

.logo {
    color: var(--text);
    font-size: 1.5rem;
}

.nav {
    height: 5vh;
    display: flex;
    align-items: center;
}