.div {
    --background: #040D12;
    --primary: #87C4FF;
    --text: #ECF4D6;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.notesWrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 300px);
    gap: 17px;
}

@media screen and (max-width: 1720px) {
    .notesWrapper {
        grid-template-columns: repeat(4, 22vw);
    }
}

@media screen and (max-width: 1400px) {
    .notesWrapper {
        grid-template-columns: repeat(3, 30vw);
    }
}

@media screen and (max-width: 1000px) {
    .notesWrapper {
        grid-template-columns: repeat(3, 30vw);
    }
}

@media screen and (max-width: 750px) {
    .notesWrapper {
        grid-template-columns: repeat(2, 45vw);
    }
}