.div {
    --background: #040D12;
    --primary: #87C4FF;
    --text: #ECF4D6;
}

.notesWrapper {
    border-radius: 12px;
    padding: 10px;
    background-color: #232D3F;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-wrap: break-word;
    transition: all .2s ease-in;
}

.notesWrapper:hover {
    box-shadow: 10px 7px 0px 0px rgb(236, 244, 214);
    border: .5px var(--text) solid;
}

.title {
    margin: 0;
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
}

.notes {
    width: auto;
    font-family: "Poppins", sans-serif;
}

.delButton {
    width: 30px;
    height: 30px;
    margin-left: auto;
    background: #D71313;
    padding: 0;
    outline: none;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}